 .u-section-1 {
  background-image: url("images/14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 944px;
}

.u-section-1 .u-group-1 {
  width: 383px;
  min-height: 278px;
  height: auto;
  margin: 93px auto 0 55px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 17px 19px 0 31px;
}

.u-section-1 .u-line-1 {
  width: 237px;
  height: 0;
  margin: 2px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  align-self: center;
  background-image: none;
  margin: -264px 113px 0 auto;
  padding: 24px 46px;
}

.u-section-1 .u-form-1 {
  height: 394px;
  margin: 31px 44px 0 737px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: -381px 137px 0 681px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 154px 187px 0 631px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: -91px 187px 0 631px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 134px 125px 60px 693px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 580px;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 37px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 87px;
    margin-left: 531px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 86px;
    margin-left: 531px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 25px;
    margin-left: 593px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 6px;
    margin-right: 31px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 101px;
    padding-left: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 18px;
  }
}